.userForms
{
    margin:0 auto;
    width:450px;
    padding:14px;
}

#stylizedForm label
{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    margin-right: 5px;
    float:left;
}
#stylizedForm input textarea #keyLength
{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 0 20px 10px;
}
#stylizedForm #serviceNames
{
    float:left;
    padding:4px 4px;
    border:solid 1px #aacfe4;
    width:250px;
    margin:5px 5px 20px 10px;
}

#stylizedForm button
{
    clear:both;
    margin-left:150px;
    width:140px;
    height:30px;
    padding: 5px;
    background:#666666 no-repeat;
    text-align:center;
    vertical-align: middle;;
    color:#FFFFFF;
    font-size:12px;
    font-weight:bold;
}
#keyLength
{
    float: left;
}

#success span.label
{
	font-weight:bold;
	padding : 0px;
}

span.keyDownloads 
{
	padding: 10px 0 10px 0;
	line-height: 50px;
}

p.warning 
{
	padding: 10px 10px 10px 10px;
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari */
    border-radius: 5px; /* CSS3 (Opera?) */
    border-style: solid;
    border-width: 1px;
    background-color: #FFE7E7;
    border-color: #DF9898;
    border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-width: 1px;
    border-top-style: solid;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}
.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}

.ui-menu-item
{
    list-style: none;
}
